/*ANIMATION CLASSES*/

/*Entrances*/
.bounce-in-right-animation {
    animation: bounceInRight 3s forwards!important;
}

.bounce-in-left-animation {
    animation: bounceInLeft 2s forwards!important;
}

.bounce-in-up-animation {
    animation: bounceInUp 3s forwards!important;
}

.bounce-in-down-animation {
    animation: bounceInDown 2s forwards!important;
}

.lightspeed-in-animation {
    animation: lightSpeedIn 3s forwards!important;
}

.zoom-in-down-animation {
    animation: zoomInDown 2s forwards!important;
}

.zoom-in-animation {
    animation: zoomIn 2s forwards!important;
}

.zoom-in-animation-fast {
    animation: zoomIn 1.5s forwards !important;
}

.zoom-in-up-animation {
    animation: zoomInUp 2s forwards!important;
}

.zoom-in-left-animation-fast {
    animation: zoomInLeft 1.5s forwards!important;
}

.zoom-in-left-animation {
    animation: zoomInLeft 2s forwards !important;
}

.zoom-in-right-animation {
    animation: zoomInRight 2s forwards!important;
}

.rotate-in-animation {
    animation: rotateIn 3s forwards!important;
}


/*Exits*/
.rotate-out-animation {
    animation: rotateOut 2s forwards!important;
}

.zoom-out-down-animation {
    animation: zoomOutDown 2s forwards!important;
}

.zoom-out-down-animation-fast {
    animation: zoomOutDown 1.5s forwards !important;
}

.zoom-out-up-animation {
    animation: zoomOutUp 2s forwards!important;
}

.zoom-out-up-animation-fast {
    animation: zoomOutUp 1.5s forwards !important;
}

.bounce-out-animation {
    animation: bounceOut 2s forwards!important;
}

.lightspeed-out-animation {
    animation: lightSpeedOut 2s forwards!important;
}

.bounce-out-left-animation {
    animation: bounceOutLeft 2s forwards !important;
}

.bounce-out-down-animation {
    animation: bounceOutDown 2s forwards !important;
}

/*Fade ins*/
.fade-in-down {
    animation: fadeInDownBig 2s forwards!important;
    animation-delay: 1.5s!important;
}

.fade-in-up {
    animation: fadeInUpBig 2s forwards!important;
}

.fade-in-left {
    animation: fadeInLeftBig 2s forwards!important;
    animation-delay: 1.5s!important;
}

.fade-in-right {
    animation: fadeInRightBig 2s forwards!important;
    animation-delay: 1.5s!important;
}

.fade-in {
    animation: fadeIn 2s forwards!important;
}

.fade-in-up-std {
    animation: fadeInUp 2s forwards!important;
}

.fade-in-animation {
    animation: fadeIn 1s forwards!important;
}

.fade-out-animation {
    animation: fadeOut 1s forwards!important;
}

@keyframes fade-in {
    0% {
        opacity: 0!important;
    }

    100% {
        opacity: 1.0!important;
    }
}

/*Attention seekers*/
.jello-animation {
    animation: jello 2s infinite;
}

.wobble-animation {
    animation: wobble 2s!important;
}

.tada-animation {
    animation: tada 2s!important;
}

.swing-animation {
    animation: swing 2s infinite alternate !important;
}

.shake-animation {
    animation: shake 2s infinite;
}

.rubberband-animation {
    animation: rubberBand 2s!important;
}

/*NEXT BUTTON*/
@keyframes next-button-animation {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(3);
    }
    100% {
        transform: scale(0);
    }
}