.blockquote-section {
    padding: 15vh;
    max-width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
}

.blockquote-text {
    font-size: 8vh !important;
    line-height: 10vh;
    font-style: italic;
    color: white;
    text-shadow: 0 0 20px #fff, 0 0 30px #172f5b, 0 0 40px #172f5b, 0 0 50px #172f5b, 0 0 60px #172f5b, 0 0 70px #172f5b, 0 0 80px #172f5b;
}

.end-credit {
    font-size: 10vh;
    padding-bottom: 3vh;
}

#end-credit-large {
    font-size: 15vh;
}

.solicitors-llp {
    font-size: 4vh;
    letter-spacing: 0.5vw;
}

#pendragon-logo {
    margin-left: 2vw;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    animation: dragon-glow 6s infinite alternate;
}

.credits {
    margin-top: 30vh;
    margin-left: 25vw;
    width: 50vw;
}

#produced-msg {
    margin-top: 8vh;
}

.slide-bg-original {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.95),rgba(0,0,0,0.95)),url('../images/quote.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
}

.slide-gradient {
    background-image: linear-gradient(315deg, rgba(74,25,60,1) 0%, rgba(1,3,23,1) 100%) !important;
    transition: 0.5s all;
}

@keyframes dragon-glow {
    0% {
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    }
    100% {
        filter: drop-shadow(8px 8px 14px rgba(207, 0, 15, 1));
    }
}
/*Surface Pro 4 150% scaling*/
@media screen and (min-width: 1823px) and (max-width: 1825px) {
    .blockquote-text {
        font-size: 6vh !important;
    }
}

/*Surface Pro 4 150% scaling full-screen*/
@media screen and (min-width: 1823px) and (max-width: 1825px) and (display-mode:fullscreen) {
    .blockquote-text {
        font-size: 5vh !important;
    }
    .end-credit {
        font-size: 8vh;
    }

    #end-credit-large {
        font-size: 12vh;
    }

    .solicitors-llp {
        font-size: 3.2vh;
    }
}

/*iPad*/
@media screen and (min-width: 1023px) and (max-width: 1025px) {
    .blockquote-text {
        font-size: 5vh !important;
    }
    .end-credit {
        font-size: 8vh;
    }
    #end-credit-large {
        font-size: 12vh;
    }
    .solicitors-llp {
        font-size: 3.2vh;
    }
}
