#implementation {
    line-height: 5vh;
}

#implementation-area {
    width: 50vh;
}

#implementation-list li {
    font-size: 3vh;
    line-height: 5vh;
}

.img-left {
    margin-left: 8vw;
}

.cogs {
    margin-left: 50vw;
}

#how-bg {
    position: absolute;
}

.how-next {
    height: 3vw;
    width: 3vw;
    background: black;
    color: white;
    border-radius: 50px;
    font-size: 4vh;
    text-align: center;
    outline: none;
    border: none;
    z-index: 50;
}

.spoke {
    background-color: #ebebeb;
    position: absolute;
    height: 350px;
    width: 60px;
    margin-left: -35px;
    margin-top: -25px;
    left: 50%;
    border-radius: 10px;
    z-index: 10;
}

    .spoke + .spoke {
        transform: rotateZ(45deg);
    }

        .spoke + .spoke + .spoke {
            transform: rotateZ(-45deg);
        }

            .spoke + .spoke + .spoke + .spoke {
                transform: rotateZ(90deg);
            }

.cog {
    position: absolute;
    background-color: #ebebeb;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 10;
    animation: spin 5s infinite linear;
}

    .cog + .cog {
        animation-delay: .19s;
        animation: spin2 5s infinite linear;
        margin-top: 320px;
        margin-left: 60px;
    }

        .cog + .cog + .cog {
            animation: spin 5s infinite linear;
            margin-top: 130px;
            margin-left: 330px;
        }

.hole {
    position: absolute;
    width: 260px;
    height: 260px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: black;
    border-radius: 50%;
    z-index: 3000;
    box-shadow: inset 0 0 90px darkslategray;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/*Surface Pro 4 150% scaling full-screen*/
@media screen and (min-width: 1823px) and (max-width: 1825px) and (display-mode:fullscreen) {
    #implementation-area {
        width: 20vw;
    }
}

/*1080p 125% scaling full-screen*/
@media screen and (min-width: 1535px) and (max-width: 1537px) and (display-mode:fullscreen) {
    .cogs {
        margin-left: 47vw;
    }
}

/*720p*/
@media screen and (min-width: 1365px) and (max-width: 1367px) {
    #implementation-area li {
        font-size: 2vh;
        line-height: 3vh;
    }
    .cogs {
        margin-left: 40vw;
    }
}

/*1080p 150% scaling*/
@media screen and (min-width: 1279px) and (max-width: 1281px) {
    .cogs {
        margin-left: 40vw;
    }
}

/*iPad*/
@media screen and (min-width: 1023px) and (max-width: 1025px) {
    .cogs {
        margin-left: 23vw;
    }
}