* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background-size: cover;
}

body {
    overflow: -moz-scrollbars-none; /*hide scrollbars in Firefox*/
    -ms-overflow-style: none; /*hide scrollbars in IE/Edge*/
    overflow-y: hidden; /*disable scroll - force user to use buttons*/
}

::-webkit-scrollbar { /*hide scrollbars in Chrome, Safari and Opera*/
    display: none;
}

/*Font*/
@font-face {
    font-family: "fosters";
    src: url("../fonts/fosters.woff") format('woff'), url("../fonts/fosters.woff2") format('woff2');
}

@font-face {
    font-family: "source-sans-pro";
    src: url("../fonts/source-sans-pro.woff") format('woff'), url("../fonts/source-sans-pro.woff2") format('woff2');
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family: source-sans-pro, sans-serif;
    line-height: 2.5vh;
    padding-bottom: 1vh;
}

h1 {
    font-size: 4.5vh;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 2.5vh;
}

p, li {
    font-size: 1.85vh;
    padding-top: 1vh;
}

a {
    text-decoration: none;
    color: #888888;
}

a:hover {
    color: #999999;
}

.fosters {
    font-family: fosters, serif;
}

#big-f-header {
    font-size: 3.5vh;
}

.fosters-header-logo {
    font-size: 2.4vh;
}

.large-text {
    font-size: 24vh !important;
    padding-bottom: 12vh !important;
}

.med-text {
    font-size: 6vh !important;
}

header {
    width: 100%;
    height: 6vh;
    color: white;
    background-color: black;
    padding: 1vh;
    z-index: 100;
    position: fixed;
}

nav {
    top: 0;
    margin-top: -4.5vh;
    display: flex;
    float: right;
}

.slide-main-image {
    height: 80vh;
}

.menu-item {
    font-size: 2vh !important;
    padding-right: 6.5vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.slide-buttons-container {
    position: fixed;
    z-index: 99;
    right: 0;
    margin-right: 5vw;
    bottom: 0;
    margin-bottom: 5vw;
}

.slide-buttons {
    background-color: black;
    color: white;
    font-size: 4vh;
    text-align: center;
    border-radius: 50px;
    outline: none;
    border: none;
    height: 6vh;
    width: 6vh;
    border: 0;
    transition: 0.3s all;
}

    .slide-buttons:hover, .slide-buttons:active, .slide-button-active, .how-next:hover, .how-next:active {
        background-color: #004160;
        color: white;
        cursor: pointer;
    }

.slide {
    height: 100vh;
    float: left;
    min-width: 100vw;
    overflow: hidden;
    color: white;
    top: 0;
    left: 0;
    padding: 14vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.left-pad {
    margin-left: 10vw;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.visible {
    display: block;
}

.img-75 {
    height: 75vh;
    width: 40vw;
}

.img-50 {
    height: 50vh;
    width: 25vw;
}

.img-30 {
    height: 30vh;
    width: 15vw;
}

.img-full {
    width: 100%;
}

.no-cursor {
    cursor: none;
}

.panel {
    position: fixed;
    width: 30vw;
    height: 100vh;
    left: 0;
    margin-left: -30vw;
    background-color: #222222;
    color: white;
    z-index: 99;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 10vh;
    padding-bottom: 5vw;
}

#slide-info {
    padding-top: 4vh;
}

.close-panel {
    position: absolute;
    top: 0;
    margin-top: 9vh;
    right: 0;
    margin-right: 2vw;
    background-color: transparent;
    color: red;
    font-size: 3vh;
    font-weight: bold;
    width: 5vh;
    height: 5vh;
    border-radius: 100px;
    border-color: white;
    outline: none;
    padding: 0.3vh;
}

.close-panel:hover {
    background-color: red !important;
    color: white !important;
    transition: 0.3s all;
}

.show-map-panel {
    animation: menu-slide-out 1s forwards;
}

.hide-map-panel {
    animation: menu-slide-in 1s forwards;
}

@keyframes menu-slide-out {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(30vw);
    }
}

@keyframes menu-slide-in {
    0% {
        transform: translateX(30vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.center {
    display: flex;
    justify-content: center;
    transform: scale(3);
    margin: 0;
    margin-top: -5vw;
}

.center-text {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#rotate-message {
    z-index: 100000;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
}

#rotate-message-title {
    line-height: 4vh;
}

.triangle-img {
    height: 50vw;
}

.triangle-center-slide-2 {
    display: flex;
    justify-content: center;
}

.triangle-center-slide-2 .triangle-img {
    height: 40vw;
}

.city-img {
    height: 80vh;
}

.no-padding {
    padding: unset !important;
}

.right-most-text {
    left: 0;
    padding-left: 40vh !important;
    padding-top: 5vw !important
}

.not-so-right-text {
    left: 0;
    padding-left: 10vh !important;
    top: 0;
    margin-top: -10vh;
}

.above {
    z-index: 100 !important;
}

.slide-bg-img {
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    transform-origin: center;
    width: 100vw;
    height: 100vh;
    transform-origin: center;
    opacity: 0.3;
}

.timeline-img {
    z-index: 2;
    top: 0;
    margin-top: -88vh;
}

.timeline-image {
    transform-origin: center;
    height: 80vh;
}

.transition {
    transition: 1s all;
}

.active-phase {
    color: aqua !important;
    font-weight: bold;
    animation: rubberBand 2s;
}

.menu-item:hover {
    color: red !important;
    font-weight: bold;
    animation: shake 2s;
    cursor: pointer;
}

@media only screen and (orientation: portrait) {
    #rotate-message {
        display: block;
    }
}

#car-container {
    position: fixed;
    bottom: 0;
    z-index: 98;
}

#car {
    height: 16vh;
    transition: 0.3s all;
}

.drive-1 {
    animation: drive-car-1 4s forwards !important;
}

.drive-2 {
    animation: drive-car-2 4s forwards !important;
}

.drive-3 {
    animation: drive-car-3 4s forwards !important;
}

.drive-4 {
    animation: drive-car-4 4s forwards !important;
}

.drive-5 {
    animation: drive-car-5 4s forwards !important;
}

@keyframes drive-car-1 {
    100% {
        transform: translateX(17.5vw);
    }
}

@keyframes drive-car-2 {
    0% {
        transform: translateX(17.5vw);
    }
    100% {
        transform: translateX(35vw);
    }
}

@keyframes drive-car-3 {
    0% {
        transform: translateX(35vw);
    }
    100% {
        transform: translateX(52.5vw);
    }
}

@keyframes drive-car-4 {
    0% {
        transform: translateX(52.5vw);
    }
    100% {
        transform: translateX(70vw);
    }
}

@keyframes drive-car-5 {
    0% {
        transform: translateX(70vw);
    }
    100% {
        transform: translateX(87.5vw);
    }
}

/*BG colors*/
.pink-blue-grad {
   background: linear-gradient(to left top, rgb(0, 143, 169), rgb(107, 2, 133)) !important;
}

.pink-blue-radial {
    background: radial-gradient(white, rgb(0, 143, 169), rgb(107, 2, 133)) !important;
}

.red-blue-grad {
    background: linear-gradient(to left top, rgb(3, 10, 175), rgb(156, 8, 8)) !important;
}

.black-blue-grad {
    background: linear-gradient(to left top, rgb(26, 26, 26), rgb(3, 10, 175)) !important;
}

.sunset-grad {
    background: linear-gradient(to left top, rgb(160, 139, 0), rgb(107, 2, 133)) !important;
}

.purple-grad {
    background: linear-gradient(to left top, rgb(107, 2, 133), rgb(26, 26, 26)) !important;
}

.red-orange-grad {
    background: linear-gradient(to left top, rgb(160, 139, 0), rgb(156, 8, 8)) !important;
}

.yellow-pink-grad {
   background: linear-gradient(to left top, rgb(107, 2, 133), rgb(255, 155, 11)) !important;
}

.red-blue-grad-2 {
    background: linear-gradient(to left top, rgb(156, 8, 8), rgb(3, 10, 175)) !important;
}

.blue-red-grad {
    background: linear-gradient(to left top, rgb(0, 143, 169), rgb(156, 8, 8)) !important;
}

.grey-grad {
    background: linear-gradient(to bottom right, black, #888888) !important;
}

.yellow-black-grad {
    background: linear-gradient(to left top, rgb(255, 155, 11), rgb(26, 26, 26)) !important;
}

.blue-sky-grad {
    background: linear-gradient(to left top, rgb(3, 10, 175), rgb(0, 143, 169)) !important;
}

.yellow-green-grad {
    background: linear-gradient(to left top, rgb(160, 139, 0), rgb(8, 120, 2)) !important;
}

.green-blue-grad {
    background: linear-gradient(to left top, rgb(0, 143, 169), rgb(8, 120, 2)) !important;
}

.black-dark-blue-grad {
    background: linear-gradient(to left top, rgb(0, 143, 169), rgb(26, 26, 26)) !important;
}

.title-orange-grad {
    background: linear-gradient(to left top, rgb(255, 0, 6), rgb(255, 155, 11)) !important;
}

/*1080p 125% scaling*/
@media screen and (min-width: 1535px) and (max-width: 1537px) {
    .triangle-center-slide-2 .triangle-img {
        height: 45vw;
        margin-top: -10vh;
    }
}

/*1080p 150% scaling*/
@media screen and (min-width: 1279px) and (max-width: 1281px) {
    .triangle-img {
        height: 45vw;
    }
    .triangle-center-slide-2 {
        margin-top: -5vh;
    }
}



