.stat-text, .info-text {
    font-size: 4vh !important;
    line-height: 6vh;
}

.info-text {
    width: 60vw;
}

.percentage-stat {
    font-size: 22vh !important;
    padding-bottom: 7vh !important;
}

#stat-container {
    margin-top: -68vh;
    width: 75vw;
}

#stats-slide-bg, #phrases-slide-bg {
    transition: 0.4s all;
}

#falling-money {
    z-index: 4;
    position: absolute;
    margin-top: -160vh;
}

.falling-money-animation {
    animation: falling-money 3s infinite;
}

@keyframes falling-money {
    100% {
        transform: translateY(250vh);
    }
}

.pie-chart-animation {
    transform-origin: center;
    background-size: 40vh !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    animation: pie-chart 3s infinite;
}

@keyframes pie-chart {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

/*Surface Pro 4 150% scaling*/
@media screen and (min-width: 1823px) and (max-width: 1825px) {
    .stat-text {
        line-height: 4vh;
    }
}

/*iPad*/
@media screen and (min-width: 1023px) and (max-width: 1025px) {
    .stat-text {
        line-height: 4vh;
    }
}

/*PHRASES CSS*/
.theme-name, .slide-title {
    font-size: 10vh !important;
    padding-bottom: 7vh !important;
    line-height: 8vh;
}

.slide-title {
    width: 45vw;
}

.text-container {
    margin-top: -78vh;
    width: 75vw;
}

#intro-text-container {
    background-image: url("../images/norwich.svg");
    background-position: 20% 20% !important;
    background-size: unset !important;
}

#value-text-container {
    background-image: url("../images/unity.svg");
}


