#city {
    background-image: url(../images/city.svg);
}

.city-move-0 {
    animation: city-move-0 4s forwards;
}

@keyframes city-move-0 {
    100% {
        transform: scale(3) translateX(40vw) translateY(-15vh);
    }
}

.city-move-1 {
    animation: city-move-1 4s forwards;
}

@keyframes city-move-1 {
    0% {
        transform: scale(3) translateX(40vw) translateY(-15vh);
    }
    100% {
        transform: scale(3) translateX(5vw) translateY(-15vh);
    }
}

.city-move-2 {
    animation: city-move-2 4s forwards;
}

@keyframes city-move-2 {
    0% {
        transform: scale(3) translateX(5vw) translateY(-15vh);
    }
    100% {
        transform: scale(3) translateX(-30vw) translateY(-15vh);
    }
}

.city-move-3 {
    animation: city-move-3 4s forwards;
}

@keyframes city-move-3 {
    0% {
        transform: scale(3) translateX(-30vw) translateY(-15vh);
    }

    100% {
        transform: scale(3) translateX(-65vw) translateY(-15vh);
    }
}

.traffic-light-container {
    z-index: 2;
    margin-top: -60vh;
    margin-left: 15vw;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(750px) rotateY(-10deg);
}

.traffic-light {
    height: 30vh;
    width: 12vh;
    background: linear-gradient(to right, black, #222222);
    border-radius: 10px;
    border: 10px white solid;
}

#traffic-light:hover {
    cursor: pointer;
}

.pole {
    position: relative;
    height: 30vh;
    width: 4vh;
    background: linear-gradient(to right, black, grey);
    border-radius: 0px 0px 15px 15px;
    margin-left: 4vh;
}

.lights {
    position: relative;
    height: 6vh;
    width: 6vh;
    border-radius: 50px;
    margin: 2vh;
    transition: 0.3s all;
}

.red {
    background: radial-gradient(#be0009, #222222);
}

    .red-active {
        box-shadow: 0 0 60px 30px red, 0 0 100px 60px red, 0 0 140px 90px #750b10;
        cursor: pointer;
        animation: red-active-animation 4s alternate infinite;
    }

.amber {
    background: radial-gradient(#cf9d06, #222222);
}

.green {
    background: radial-gradient(#0d9702, #222222);
}

    .green-active {
        box-shadow: 0 0 60px 30px green, 0 0 100px 60px #0d9702, 0 0 140px 90px #0b6c06;
        cursor: pointer;
        animation: green-active-animation 4s alternate infinite;
    }

@keyframes red-active-animation {
    100% {
        box-shadow: 0 0 30px 15px red, 0 0 50px 30px red, 0 0 70px 45px #750b10;
    }
}

@keyframes green-active-animation {
    100% {
        box-shadow: 0 0 30px 15px green, 0 0 50px 30px #0d9702, 0 0 70px 45px #0b6c06;
    }
}

.traffic-light-words {
    max-width: 45vw;
    margin-top: -75vh;
    margin-left: 10vw;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(750px) rotateY(10deg);
}

    .traffic-light-words li {
        font-size: 3vh !important;
        line-height: 4vh;
    }

.word-text {
    font-size: 3.5vh;
}

#value-title, #traffic-light-caption {
    padding-bottom: 3.5vh;
    line-height: 4vh;
}

/*Yellow car*/
.large-car {
    height: 16vh !important;
    transition: 0.3s all;
}

.drive-back-animation {
    animation: drive-back 4s forwards !important;
}

.city-car-drive-animation-1 {
    animation: city-car-drive-1 3s forwards !important;
}

.city-car-drive-animation-2 {
    animation: city-car-drive-2 3s forwards !important;
}

.city-car-drive-animation-3 {
    animation: city-car-drive-3 3s forwards !important;
}

@keyframes drive-back {
    0% {
        transform: translateX(70vw);
    }
    100% {
        transform: translateX(10vw);
    }
}

@keyframes city-car-drive-1 {
    0% {
        transform: translateX(10vw);
    }
    100% {
        transform: translateX(30vw);
    }
}

@keyframes city-car-drive-2 {
    0% {
        transform: translateX(30vw);
    }

    100% {
        transform: translateX(50vw);
    }
}

@keyframes city-car-drive-3 {
    0% {
        transform: translateX(50vw);
    }

    100% {
        transform: translateX(87.5vw);
    }
}

/*Surface Pro 4 150% scaling*/
@media screen and (min-width: 1823px) and (max-width: 1825px) {
    .traffic-light-words li {
        font-size: 2.5vh !important;
    }
}

/*1680x1050*/
@media screen and (min-width: 1679px) and (max-width: 1681px) {
    .traffic-light-words li {
        font-size: 2vh !important;
        line-height: 2vh;
    }
}

/*720p*/
@media screen and (min-width: 1365px) and (max-width: 1367px) {
    .lights {
        width: 5.25vh;
        height: 5.25vh;
    }
}

/*1080p 150% scaling*/
@media screen and (min-width: 1279px) and (max-width: 1281px) {
    .lights {
        height: 5vh;
        width: 5vh;
    }
    .traffic-light {
        height: 28vh;
    }
}

/*iPad*/
@media screen and (min-width: 1023px) and (max-width: 1025px) {
    .lights {
        width: 5vh;
        height: 5vh;
    }
    .traffic-light {
        height: 28vh;
    }
    .traffic-light-words li {
        font-size: 2.5vh !important;
    }
}

